<app-navbar></app-navbar>
<app-navbar-newsletter></app-navbar-newsletter>
<ng-container *ngIf="id$ | async as id">
  <ng-container *ngIf="messages$ | withLoading | async as messages">
    <ng-container *ngIf="messages.value">
      <div *ngIf="messages.value.length === 0" class="empty">
        <h2>No messages</h2>
        <p>
          Add a message by clicking on the button below.<br>
        </p>
      </div>
      <ng-container *ngFor="let message of messages.value; trackBy: trackByMessageId">
        <mat-card class="message">
          {{ message.name }}
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-button color="warn" (click)="onDelete(id, message.id)">Delete</button>
            <span class="spacer"></span>
            <button mat-button [routerLink]="['/newsletters', id, 'messages', message.id]">Edit</button>
            <button mat-button color="accent" (click)="onDeliver(id, message)">Deliver</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="messages.loading">
      <app-progress-indicator></app-progress-indicator>
    </ng-container>
  </ng-container>
  <div fxLayout="row" fxLayoutAlign="center center">
    <a class="create-message" mat-button routerLink="./new" color="primary" mat-raised-button>Create message</a>
  </div>
</ng-container>
