<ng-container *ngIf="id$ | async as id">
  <mat-menu #appMenu="matMenu">
    <a mat-menu-item *ngIf="canGoToSubscribers$ | async" [routerLink]="['/newsletters', id, 'subscribers']" routerLinkActive="mat-accent">Subscribers</a>
    <a mat-menu-item *ngIf="canGoToSettings$ | async" [routerLink]="['/newsletters', id, 'settings']" routerLinkActive="mat-accent">Settings</a>
  </mat-menu>
  
  <mat-toolbar>
    <mat-toolbar-row>
      <a mat-button [routerLink]="['/newsletters', id]" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{ exact: true }">Info</a>
      <a mat-button [routerLink]="['/newsletters', id, 'messages']" routerLinkActive="mat-accent">Messages</a>
      <a mat-button [routerLink]="['/newsletters', id, 'delivery']" routerLinkActive="mat-accent">Delivery</a>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>        
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>